.container{
    border:1px solid darkgrey;
    border-radius:3px;
    padding:5px;
    width:40%;
    margin:0 auto;
    letter-spacing:1px;
    font-family: sans-serif;
    box-shadow: 0px 2px 2px 0px  gray;
}

.container h1{
    margin-top: 0px;
    font-weight: normal;
    padding: 10px;
    background-color: cornflowerblue;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#div_content{
    width:60%;
    margin: 0 auto;
    min-height:200px;
    height: auto;
}

#div_content div{
    margin-bottom:8px;

}
.clear{
    clear:both;
    margin-top: 20px;
}

#searchResult{
    list-style: none;
    padding: 0px;
    width: 250px;
    position: absolute;
    margin: 0;
}

#searchResult li{
    background: lavender;
    padding: 4px;
    margin-bottom: 1px;
}

#searchResult li:nth-child(even){
    background: cadetblue;
    color: white;
}

#searchResult li:hover{
    cursor: pointer;
}

input[type=text]{
    padding: 5px;
    width: 250px;
    letter-spacing: 1px;
}
/* media query */
@media screen and (max-width:800px){
    .container{
        width:80%;
    }
}

@media screen and (max-width:480px){
    .container{
        width: 95%;
    }

    #div_content{
        width: 90%;
    }

    input[type=text]{
        width: 80%;
    }

    #searchResult{
        width: 80%;
    }
}